<nav class="horizontal-menu plain">
	<ul>
		<li class="active"><a routerLink="">ICIN</a></li>
		<li><a routerLink="adminauth">Admin</a></li>
		<li><a routerLink="userauth">user</a></li>
		<li><a href=''>Home</a></li>
		<li><a routerLink="ab">About</a></li>
		<li><a routerLink="con">Contact</a></li>
	</ul>
</nav>
<!--
<nav class="horizontal-menu dropdown">
	<ul>
		<li class="active">
			<a>Item 1</a>
			<div>
				<a>Link</a>
				<a>Link</a>
				<a>Link</a>
				<a>Link</a>
				<a>Link</a>
				<a>Link</a>
			</div>
		</li>
		<li>
			<a>Item 2</a>
			<div>
				<a>Link</a>
				<a>Link</a>
				<a>Link</a>
				<a>Link</a>
				<a>Link</a>
				<a>Link</a>
			</div>
		</li>
		<li>
			<a>Item 3</a>
			<div>
				<a>Link</a>
				<a>Link</a>
				<a>Link</a>
				<a>Link</a>
				<a>Link</a>
				<a>Link</a>
			</div>
		</li>
		<li>
			<a>Item 4</a>
			<div>
				<a>Link</a>
				<a>Link</a>
				<a>Link</a>
				<a>Link</a>
				<a>Link</a>
				<a>Link</a>
				<a>Link</a>
				<a>Link</a>
				<a>Link</a>
				<a>Link</a>
				<a>Link</a>
				<a>Link</a>
			</div>
		</li>
		<li>
			<a>Item 5</a>
			<div>
				<a>Link</a>
				<a>Link</a>
				<a>Link</a>
				<a>Link</a>
				<a>Link</a>
				<a>Link</a>
			</div>
		</li>
		<li>
			<a>Item 6</a>
			<div>
				<a>Link 1</a>
				<a>Link 2</a>
				<a>Link 3</a>
				<a>Link 4</a>
				<a>Link 5</a>
				<a>Link 6</a>
			</div>
		</li>
	</ul>
</nav> -->