
      <div class="cent">
        <p class ="message-n">{{lowbalancemsg}}</p>
        <p class ="message-n">{{permissionchecker}}</p>
        <p class ="message-p">{{notifymsg}}</p>
        <p class ="message-t">{{transacmsg}}</p>
        <button class="form-button"
         (click)="viewtransac()">
        HISTORY</button></div>
        <br><p class="message-h">ChequeBook Status</p>
        <div *ngIf="accdata.chequebook; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
  <p class = "message-p">Processed</p>
</ng-template>
<ng-template #elseBlock>
  <p class = "message-t">Processing...</p>
</ng-template>
      
<form #deposit = "ngForm" 
(ngSubmit)="depositcash(deposit.value)" 
class = "common-form">
     <input type = number 
     class="form-input"
      placeholder="Enter amount" 
      name="amount" ngModel />
      <button  type = "submit"class="form-button">
        DEPOSIT</button>
    </form>
<br><br>
    <form #withdraw = "ngForm" 
(ngSubmit)="withdrawcash(withdraw.value)" 
class = "common-form">
     <input type = number 
     class="form-input"
      placeholder="Enter amount" 
      name="amount" ngModel />
      <button  type = "submit"class="form-button">
        DEBIT</button>
    </form>
    <br><br>
    <form #transfer = "ngForm" 
(ngSubmit)="transferamount(transfer.value)" 
class = "common-form">
     <input type = number 
     class="form-input"
      placeholder="Enter amount" 
      name="amount" ngModel />
      <input type = number 
     class="form-input"
      placeholder="Enter accno" 
      name="id" ngModel />

      <button  type = "submit"class="form-button">
        TRANSFER</button>
    </form>
    
