

.head{
    background-color: darkgrey;
}
.head h1{
    text-align: center;
    font-size: xx-large;
}
.one{
    background-color: darkslategray;
    background-size: cover;
    justify-content: center;
    background-position: 10px;
    background-clip: content-box;
    padding-left: 400px;
    padding-right: 400px;
}
.one h3{
    text-align: center;
    font-size: x-large;
    color: aqua;
}
.one p{
    text-align: center;
    color: mediumspringgreen;
}